<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 1、定义日志保存路径 -->
    <property name="LOG_HOME" value="/Users/qiaogh/Projects/micro-service/web-spring-boot/target/logs" />

    <!-- 2、定义一个输出器，名为 console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{30} -%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 3、定义一个日滚动的日志文件 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 配置 Appender 可以接收日志的级别 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- 按 pattern 指定的格式输出日志，编码为 UTF-8 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{30} -%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <!-- 定义保存的文件名 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/springboot_%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最多保存 30 天 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>